{% extends 'layout.j2' %}

{% block title %}Customers{% endblock %}

{% block scripts %}
  <script src="../static/js/add.js" defer></script>
  <script src="../static/js/formatInputs.js" defer></script>
{% endblock %}

{% block content %}
    <h2>Customers</h2>
    <button id="add-btn">Add a New Customer</button>
    <table>
      <thead>
        <tr>
            {# Fills Table Header Columns #}
            {% for col_name in col_names %}
                <th>{{ col_name }}</th>
            {% endfor %}
          </tr>
      </thead>
      <tbody>
        {# Creates a row for each Customer, adding the Customer's attributes to each column. #}
        {% for customer in customers %}
            <tr id={{ customer['Customer ID'] }}>
                {% for key in customer.keys() %}
                    <td>{{customer[key]}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        
      </tbody>
    </table>
{% endblock %}


{% block modal %}
  <!-- Add Modal -->
  <div class="modal-container" id="add">
    <div class="modal">
      <h2>Add Customer</h2>
      <form id="add-form" action="./create" method="POST">
        <div>
          <label for="first-name">First Name:</label>
          <input type="text" id="first-name" name="first-name" required>
        </div>
        <div>
          <label for="last-name">Last Name:</label>
          <input type="text" id="last-name" name="last-name" required>
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div>
          <label for="phone">Phone Number:</label>
          <input type="tel" 
            id="phone" 
            name="phone"
            pattern="^\(\d{3}\) \d{3}-\d{4}$"
            title="10 digits"
            required> 
        </div>
        <div>
          <label for="street-address1">Street Address 1:</label>
          <input type="text" id="street-address1" name="street-address1" required>
        </div>
        <div>
          <label for="street-address2">Street Address 2 (optional):</label>
          <input type="text" id="street-address2" name="street-address2">
        </div>
        <div>
          <label for="city">City:</label>
          <input type="text" id="city" name="city" required>
        </div>
        <div>
          <label for="state">State:</label>
          <input type="text" id="state" name="state" required>
        </div>
        <div>
          <label for="zip">Zip:</label>
          <input type="text" 
            id="zip" 
            name="zip" 
            pattern="^\d{5}(-\d{4})?$"
            title="5-digit Zip or Zip+4 Code" 
            required>
        </div>
        <div class="form-btn">
          <button type="submit" class="add-btn">Add Customer</button>
          <button type="button" class="cancel-btn" id="add-cancel">Cancel</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
